USE [master]
GO
/****** Object:  Database [SA_MasterControl]    Script Date: 01-Jul-22 4:35:38 PM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SA_MasterControl')
BEGIN
CREATE DATABASE [SA_MasterControl]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SA_MasterControl', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_MasterControl.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SA_MasterControl_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_MasterControl_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SA_MasterControl].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
