USE [SA_SAP_BE]
GO
/****** Object:  Table [Import].[LFA1]    Script Date: 23-Aug-22 5:02:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[LFA1]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[LFA1](
	[Group] [varchar](256) NULL,
	[Vendor] [varchar](256) NULL,
	[Cty] [varchar](256) NULL,
	[Name 1] [varchar](256) NULL,
	[Name 2] [varchar](256) NULL,
	[Name 3] [varchar](256) NULL,
	[Name 4] [varchar](256) NULL,
	[City] [varchar](256) NULL,
	[District] [varchar](256) NULL,
	[PO Box] [varchar](256) NULL,
	[PO Box pcd] [varchar](256) NULL,
	[Post Code] [varchar](256) NULL,
	[Rg] [varchar](256) NULL,
	[SearchTerm] [varchar](256) NULL,
	[Street] [varchar](256) NULL,
	[Address] [varchar](256) NULL,
	[Name 1 (2)] [varchar](256) NULL,
	[Name 2 (2)] [varchar](256) NULL,
	[City (2)] [varchar](256) NULL,
	[Title] [varchar](256) NULL,
	[Train stat] [varchar](256) NULL,
	[ILN 1] [varchar](256) NULL,
	[ILN 2] [varchar](256) NULL,
	[AuGr] [varchar](256) NULL,
	[Indus ] [varchar](256) NULL,
	[Chk digit] [varchar](256) NULL,
	[Data line] [varchar](256) NULL,
	[I] [varchar](256) NULL,
	[IK] [varchar](256) NULL,
	[Created by] [varchar](256) NULL,
	[ISR No ] [varchar](256) NULL,
	[Group (2)] [varchar](256) NULL,
	[Customer] [varchar](256) NULL,
	[Alt  payee] [varchar](256) NULL,
	[DelF] [varchar](256) NULL,
	[B] [varchar](256) NULL,
	[B (2)] [varchar](256) NULL,
	[Language] [varchar](256) NULL,
	[Tax No  1] [varchar](256) NULL,
	[Tax No  2] [varchar](256) NULL,
	[Equal tax] [varchar](256) NULL,
	[VAT] [varchar](256) NULL,
	[Telebox] [varchar](256) NULL,
	[Telephone1] [varchar](256) NULL,
	[Telephone2] [varchar](256) NULL,
	[Fax Number] [varchar](256) NULL,
	[Teletex] [varchar](256) NULL,
	[Telex] [varchar](256) NULL,
	[One-time] [varchar](256) NULL,
	[Payee i dc] [varchar](256) NULL,
	[Tr Prt] [varchar](256) NULL,
	[Fisc addr ] [varchar](256) NULL,
	[VAT Reg  No ] [varchar](256) NULL,
	[Nat Person] [varchar](256) NULL,
	[BF] [varchar](256) NULL,
	[Birthplace] [varchar](256) NULL,
	[Sex] [varchar](256) NULL,
	[Info] [varchar](256) NULL,
	[QM system] [varchar](256) NULL,
	[RefGr ] [varchar](256) NULL,
	[P O Bx cty] [varchar](256) NULL,
	[Plant] [varchar](256) NULL,
	[VSR] [varchar](256) NULL,
	[Plant rel ] [varchar](256) NULL,
	[Cal] [varchar](256) NULL,
	[Status] [varchar](256) NULL,
	[Tax Jur ] [varchar](256) NULL,
	[Pmnt block] [varchar](256) NULL,
	[SCAC] [varchar](256) NULL,
	[CarFrgtG] [varchar](256) NULL,
	[Zone] [varchar](256) NULL,
	[AltPayeeAc] [varchar](256) NULL,
	[SAGr] [varchar](256) NULL,
	[Tax type] [varchar](256) NULL,
	[Tax no ty ] [varchar](256) NULL,
	[Soc  Ins ] [varchar](256) NULL,
	[SI Code] [varchar](256) NULL,
	[Tax No  3] [varchar](256) NULL,
	[Tax No  4] [varchar](256) NULL,
	[Tax No  5] [varchar](256) NULL,
	[S] [varchar](256) NULL,
	[Tax base] [varchar](256) NULL,
	[Profession] [varchar](256) NULL,
	[StGSA] [varchar](256) NULL,
	[Ex  manuf ] [varchar](256) NULL,
	[URL] [varchar](256) NULL,
	[Rep's Name] [varchar](256) NULL,
	[TOB] [varchar](256) NULL,
	[TOI] [varchar](256) NULL,
	[ConfSt] [varchar](256) NULL,
	[Conf time] [varchar](256) NULL,
	[DeBl] [varchar](256) NULL,
	[POD-rel ] [varchar](256) NULL,
	[Tax office] [varchar](256) NULL,
	[Tax no ] [varchar](256) NULL,
	[CC] [varchar](256) NULL,
	[Micro Comp] [varchar](256) NULL,
	[Terms Liab] [varchar](256) NULL,
	[CRC number] [varchar](256) NULL,
	[Block Flag] [varchar](256) NULL,
	[RG Number] [varchar](256) NULL,
	[Issued by] [varchar](256) NULL,
	[State] [varchar](256) NULL,
	[RIC Number] [varchar](256) NULL,
	[ForNatReg] [varchar](256) NULL,
	[CNAE] [varchar](256) NULL,
	[Legal Nat] [varchar](256) NULL,
	[CRT Number] [varchar](256) NULL,
	[ICMS Taxp] [varchar](256) NULL,
	[Industry] [varchar](256) NULL,
	[Tax Dec Ty] [varchar](256) NULL,
	[Comp Size] [varchar](256) NULL,
	[Decl  Reg ] [varchar](256) NULL,
	[ALC] [varchar](256) NULL,
	[Pmt Off] [varchar](256) NULL,
	[Process gp] [varchar](256) NULL,
	[SLA PreprP] [varchar](256) NULL,
	[Name] [varchar](256) NULL,
	[Name 2 (3)] [varchar](256) NULL,
	[Name 3 (2)] [varchar](256) NULL,
	[First Name] [varchar](256) NULL,
	[Title (2)] [varchar](256) NULL,
	[House no ] [varchar](256) NULL,
	[Street (2)] [varchar](256) NULL,
	[TrChain] [varchar](256) NULL,
	[Scheduling] [varchar](256) NULL,
	[Coll No ] [varchar](256) NULL,
	[Created on] [varchar](256) NULL,
	[Birth date] [varchar](256) NULL,
	[Lst review] [varchar](256) NULL,
	[Conf date] [varchar](256) NULL,
	[Dat] [varchar](256) NULL,
	[RG Date] [varchar](256) NULL,
	[RNE Date] [varchar](256) NULL,
	[Capital] [varchar](256) NULL,
	[Currency] [varchar](256) NULL,
	[Stg Time] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
