USE [SA_SAP_BE]
GO
/****** Object:  Table [Import].[EKKO]    Script Date: 23-Aug-22 5:02:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[EKKO]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[EKKO](
	[Plant] [varchar](256) NULL,
	[S] [varchar](256) NULL,
	[Purch Doc ] [varchar](50) NULL,
	[D] [varchar](256) NULL,
	[CoCd] [varchar](256) NULL,
	[C] [varchar](256) NULL,
	[Type] [varchar](256) NULL,
	[Ctl] [varchar](256) NULL,
	[Created by] [varchar](256) NULL,
	[ItInt] [varchar](256) NULL,
	[LItem] [varchar](256) NULL,
	[Vendor] [varchar](256) NULL,
	[Language] [varchar](256) NULL,
	[PayT] [varchar](256) NULL,
	[POrg] [varchar](256) NULL,
	[PGr] [varchar](256) NULL,
	[Fix] [varchar](256) NULL,
	[Number] [varchar](256) NULL,
	[Quotation] [varchar](256) NULL,
	[Ref  1] [varchar](256) NULL,
	[Salesperson] [varchar](256) NULL,
	[Telephone] [varchar](256) NULL,
	[Suppl Vndr] [varchar](256) NULL,
	[Customer] [varchar](256) NULL,
	[Agmt] [varchar](256) NULL,
	[Field Not Used] [varchar](256) NULL,
	[CDl] [varchar](256) NULL,
	[G] [varchar](256) NULL,
	[SPlt] [varchar](256) NULL,
	[Rec vendor] [varchar](256) NULL,
	[IncoT] [varchar](256) NULL,
	[Inco  2] [varchar](256) NULL,
	[Coll  No ] [varchar](256) NULL,
	[Doc cond ] [varchar](256) NULL,
	[Proc ] [varchar](256) NULL,
	[UpdGrp] [varchar](256) NULL,
	[Inv  Pty] [varchar](256) NULL,
	[FT no ] [varchar](256) NULL,
	[Our Ref ] [varchar](256) NULL,
	[Log System] [varchar](256) NULL,
	[SIInt] [varchar](256) NULL,
	[C (2)] [varchar](256) NULL,
	[Grp] [varchar](256) NULL,
	[Strat] [varchar](256) NULL,
	[Rel] [varchar](256) NULL,
	[Rel stat] [varchar](256) NULL,
	[R] [varchar](256) NULL,
	[BOM] [varchar](256) NULL,
	[R (2)] [varchar](256) NULL,
	[Addr  no ] [varchar](256) NULL,
	[STC] [varchar](256) NULL,
	[VAT Reg No] [varchar](256) NULL,
	[Reas Canc ] [varchar](256) NULL,
	[Doc  No ] [varchar](256) NULL,
	[CMP] [varchar](256) NULL,
	[I] [varchar](256) NULL,
	[Proc state] [varchar](256) NULL,
	[Version] [varchar](256) NULL,
	[SCMPROC] [varchar](256) NULL,
	[Reason] [varchar](256) NULL,
	[Category (2)] [varchar](256) NULL,
	[Retention] [varchar](256) NULL,
	[Down Paymt] [varchar](256) NULL,
	[Process ID] [varchar](256) NULL,
	[Hierarchy] [varchar](256) NULL,
	[Threshold] [varchar](256) NULL,
	[Contr  No ] [varchar](256) NULL,
	[Cont Name] [varchar](256) NULL,
	[ST] [varchar](256) NULL,
	[Hndovr Loc] [varchar](256) NULL,
	[SC] [varchar](256) NULL,
	[IncoV] [varchar](256) NULL,
	[Inco  Loc1] [varchar](256) NULL,
	[Inco  Loc2] [varchar](256) NULL,
	[Ext  Sys ] [varchar](256) NULL,
	[Ext  Ref ] [varchar](256) NULL,
	[GUID 32] [varchar](256) NULL,
	[Count ] [varchar](256) NULL,
	[Reloc  ID] [varchar](256) NULL,
	[RStp] [varchar](256) NULL,
	[Category] [varchar](256) NULL,
	[Same Plant] [varchar](256) NULL,
	[Firm Deal] [varchar](256) NULL,
	[PurGr] [varchar](256) NULL,
	[Contract] [varchar](256) NULL,
	[ItemCat] [varchar](256) NULL,
	[FixDatePur] [varchar](256) NULL,
	[Budget] [varchar](256) NULL,
	[AllocT Rel] [varchar](256) NULL,
	[DELPER] [varchar](256) NULL,
	[DlvyDate] [varchar](256) NULL,
	[Level] [varchar](256) NULL,
	[Cond  Type] [varchar](256) NULL,
	[Budget (2)] [varchar](256) NULL,
	[OTB Crrncy] [varchar](256) NULL,
	[OTBRsnPrfl] [varchar](256) NULL,
	[Bdgt Type] [varchar](256) NULL,
	[OTB Status] [varchar](256) NULL,
	[Reason (2)] [varchar](256) NULL,
	[Check Type] [varchar](256) NULL,
	[OTB-Relev] [varchar](256) NULL,
	[Cntrct Lvl] [varchar](256) NULL,
	[DistrLevel] [varchar](256) NULL,
	[Created on] [varchar](256) NULL,
	[Payment in] [varchar](256) NULL,
	[Payment in (2)] [varchar](256) NULL,
	[Payment in (3)] [varchar](256) NULL,
	[Disc 1] [varchar](256) NULL,
	[Disc 2] [varchar](256) NULL,
	[Crcy] [varchar](256) NULL,
	[Exch  Rate] [varchar](256) NULL,
	[Doc  Date] [varchar](256) NULL,
	[Val  Start] [varchar](256) NULL,
	[VPer End] [varchar](256) NULL,
	[Apply By] [varchar](256) NULL,
	[QuotDdln] [varchar](256) NULL,
	[Bindg Per ] [varchar](256) NULL,
	[Warranty] [varchar](256) NULL,
	[Quot  Date] [varchar](256) NULL,
	[Targ  Val ] [varchar](256) NULL,
	[Tot  value] [varchar](256) NULL,
	[Retent  %] [varchar](256) NULL,
	[DP %] [varchar](256) NULL,
	[DwnPaytAmt] [varchar](256) NULL,
	[DP Due Dte] [varchar](256) NULL,
	[Release] [varchar](256) NULL,
	[SameDlyDat] [varchar](256) NULL,
	[Budget (3)] [varchar](256) NULL,
	[ReservBudg] [varchar](256) NULL,
	[SpclReleas] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
