USE [SA_SAP_BE]
GO
/****** Object:  Table [Import].[MARA]    Script Date: 23-Aug-22 5:02:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[MARA]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[MARA](
	[Material] [varchar](256) NULL,
	[Material Description] [varchar](512) NULL,
	[Created by] [varchar](50) NULL,
	[Changed by] [varchar](50) NULL,
	[Maint stat] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Clt] [varchar](50) NULL,
	[MTyp] [varchar](50) NULL,
	[I] [varchar](50) NULL,
	[Matl Group] [varchar](50) NULL,
	[Matl no ] [varchar](50) NULL,
	[OUn] [varchar](50) NULL,
	[Document] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Vers] [varchar](50) NULL,
	[Page] [varchar](50) NULL,
	[Ch no ] [varchar](50) NULL,
	[PNo] [varchar](50) NULL,
	[No ] [varchar](50) NULL,
	[Prod  memo] [varchar](50) NULL,
	[For ] [varchar](50) NULL,
	[Size dim ] [varchar](50) NULL,
	[Basic matl] [varchar](50) NULL,
	[IStd Desc] [varchar](50) NULL,
	[L O] [varchar](50) NULL,
	[PV key] [varchar](50) NULL,
	[CR] [varchar](50) NULL,
	[SC] [varchar](50) NULL,
	[Temp] [varchar](50) NULL,
	[Cde] [varchar](50) NULL,
	[TGroup] [varchar](50) NULL,
	[Haz ] [varchar](50) NULL,
	[Dv] [varchar](50) NULL,
	[Competitor] [varchar](50) NULL,
	[EAN no ] [varchar](50) NULL,
	[R] [varchar](50) NULL,
	[S] [varchar](50) NULL,
	[Seas] [varchar](50) NULL,
	[LT] [varchar](50) NULL,
	[LF] [varchar](50) NULL,
	[Deact ] [varchar](50) NULL,
	[EAN UPC] [varchar](50) NULL,
	[Ct] [varchar](50) NULL,
	[Prod hier ] [varchar](50) NULL,
	[Net Change] [varchar](50) NULL,
	[CAD] [varchar](50) NULL,
	[QM] [varchar](50) NULL,
	[V] [varchar](50) NULL,
	[R (1)] [varchar](50) NULL,
	[Conf ] [varchar](50) NULL,
	[BMR] [varchar](50) NULL,
	[PkMtT] [varchar](50) NULL,
	[GrPMt] [varchar](50) NULL,
	[AGrp] [varchar](50) NULL,
	[SeYr] [varchar](50) NULL,
	[PBC] [varchar](50) NULL,
	[WE] [varchar](50) NULL,
	[ExtMatlGrp] [varchar](50) NULL,
	[Conf  matl] [varchar](50) NULL,
	[Ct (1)] [varchar](50) NULL,
	[CoPr] [varchar](50) NULL,
	[F] [varchar](50) NULL,
	[Pr RefMatl] [varchar](50) NULL,
	[MS] [varchar](50) NULL,
	[St] [varchar](50) NULL,
	[TaxCl] [varchar](50) NULL,
	[Cat Prof ] [varchar](50) NULL,
	[LaMatGrpg] [varchar](50) NULL,
	[QCM] [varchar](50) NULL,
	[Object no ] [varchar](50) NULL,
	[E] [varchar](50) NULL,
	[Prod all ] [varchar](50) NULL,
	[PP] [varchar](50) NULL,
	[DiK] [varchar](50) NULL,
	[MPN] [varchar](50) NULL,
	[Manufact ] [varchar](50) NULL,
	[Int  no ] [varchar](50) NULL,
	[MPP] [varchar](50) NULL,
	[U] [varchar](50) NULL,
	[Rollout] [varchar](50) NULL,
	[Pro ] [varchar](50) NULL,
	[HighlyVisc] [varchar](50) NULL,
	[BulkLiquid] [varchar](50) NULL,
	[SL] [varchar](50) NULL,
	[C] [varchar](50) NULL,
	[AR] [varchar](50) NULL,
	[Par ef ] [varchar](50) NULL,
	[CL] [varchar](50) NULL,
	[Per  Ind ] [varchar](50) NULL,
	[Round rule] [varchar](50) NULL,
	[Prod Comp ] [varchar](50) NULL,
	[ItCGr] [varchar](50) NULL,
	[Log  vars] [varchar](50) NULL,
	[Locked] [varchar](50) NULL,
	[CM rel ] [varchar](50) NULL,
	[T] [varchar](50) NULL,
	[Expir Date] [varchar](50) NULL,
	[EAN Var ] [varchar](50) NULL,
	[Gen  Mat ] [varchar](50) NULL,
	[RefMatPack] [varchar](50) NULL,
	[GDS-Rel ] [varchar](50) NULL,
	[OA] [varchar](50) NULL,
	[StHUTyp] [varchar](50) NULL,
	[Pilferable] [varchar](50) NULL,
	[WHStCond] [varchar](50) NULL,
	[WHMatGrp] [varchar](50) NULL,
	[Hand Ind ] [varchar](50) NULL,
	[Haz  Sub ] [varchar](50) NULL,
	[HUTyp] [varchar](50) NULL,
	[V (1)] [varchar](50) NULL,
	[Orig] [varchar](50) NULL,
	[MatFrtGp] [varchar](50) NULL,
	[QualInsGrp] [varchar](50) NULL,
	[SN Prof ] [varchar](50) NULL,
	[Name] [varchar](50) NULL,
	[Log  UoM] [varchar](50) NULL,
	[CW-Relev ] [varchar](50) NULL,
	[CW Profile] [varchar](50) NULL,
	[Tol  Group] [varchar](50) NULL,
	[Profile] [varchar](50) NULL,
	[IP] [varchar](50) NULL,
	[Var Pr All] [varchar](50) NULL,
	[Medium] [varchar](50) NULL,
	[Phys Cmdty] [varchar](50) NULL,
	[Animal] [varchar](50) NULL,
	[TxCmpActiv] [varchar](50) NULL,
	[Seg Str ] [varchar](50) NULL,
	[Seg Strat ] [varchar](50) NULL,
	[Seg Status] [varchar](50) NULL,
	[Scope] [varchar](50) NULL,
	[Seg  Rel ] [varchar](50) NULL,
	[ANP Code] [varchar](50) NULL,
	[Fsh Attri1] [varchar](50) NULL,
	[Fsh Attri2] [varchar](50) NULL,
	[Fsh Attri3] [varchar](50) NULL,
	[SeasonUse] [varchar](50) NULL,
	[SeasonIM] [varchar](50) NULL,
	[MID] [varchar](50) NULL,
	[PSM code] [varchar](50) NULL,
	[LU] [varchar](50) NULL,
	[LU Group] [varchar](50) NULL,
	[C (1)] [varchar](50) NULL,
	[Tol  Type] [varchar](50) NULL,
	[CGrp ] [varchar](50) NULL,
	[DSDGrp] [varchar](50) NULL,
	[Tilt ] [varchar](50) NULL,
	[HoStck] [varchar](50) NULL,
	[Bott ] [varchar](50) NULL,
	[Top] [varchar](50) NULL,
	[StckF] [varchar](50) NULL,
	[w o PKM] [varchar](50) NULL,
	[Mat PKM] [varchar](50) NULL,
	[UoM VSO] [varchar](50) NULL,
	[Closed PKM] [varchar](50) NULL,
	[PckCod] [varchar](50) NULL,
	[DGPckg Sts] [varchar](50) NULL,
	[Matl Cond ] [varchar](50) NULL,
	[Rt  Cd] [varchar](50) NULL,
	[To LogLvl] [varchar](50) NULL,
	[NIIN] [varchar](50) NULL,
	[FFF class] [varchar](50) NULL,
	[Chain no] [varchar](50) NULL,
	[CS] [varchar](50) NULL,
	[Int  Char ] [varchar](50) NULL,
	[Int  Char (1)] [varchar](50) NULL,
	[Int  Char (2)] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
	[Size 1] [varchar](50) NULL,
	[Size 2] [varchar](50) NULL,
	[Value] [varchar](50) NULL,
	[Care Code] [varchar](50) NULL,
	[Brand] [varchar](50) NULL,
	[Component1] [varchar](50) NULL,
	[% Share 1] [varchar](50) NULL,
	[Component2] [varchar](50) NULL,
	[% Share 2] [varchar](50) NULL,
	[Component3] [varchar](50) NULL,
	[% Share 3] [varchar](50) NULL,
	[Component4] [varchar](50) NULL,
	[% Share 4] [varchar](50) NULL,
	[Component5] [varchar](50) NULL,
	[% Share 5] [varchar](50) NULL,
	[FG] [varchar](50) NULL,
	[Material description (1)] [varchar](50) NULL,
	[Created] [varchar](50) NULL,
	[Last Chg ] [varchar](50) NULL,
	[BUn] [varchar](50) NULL,
	[Gross] [varchar](50) NULL,
	[Net] [varchar](50) NULL,
	[WUn] [varchar](50) NULL,
	[Volume] [varchar](50) NULL,
	[VUn] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[Length] [varchar](50) NULL,
	[Width] [varchar](50) NULL,
	[Height] [varchar](50) NULL,
	[Unit] [varchar](50) NULL,
	[Allowed wt] [varchar](50) NULL,
	[Un ] [varchar](50) NULL,
	[Allwd vol ] [varchar](50) NULL,
	[VUn (1)] [varchar](50) NULL,
	[EWT] [varchar](50) NULL,
	[EVT] [varchar](50) NULL,
	[MxL] [varchar](50) NULL,
	[StFtr] [varchar](50) NULL,
	[Valid From] [varchar](50) NULL,
	[Valid to] [varchar](50) NULL,
	[Valid from (1)] [varchar](50) NULL,
	[Valid from (2)] [varchar](50) NULL,
	[RShLi] [varchar](50) NULL,
	[SLife] [varchar](50) NULL,
	[Stge%] [varchar](50) NULL,
	[CUn] [varchar](50) NULL,
	[Net cnts] [varchar](50) NULL,
	[Column 214] [varchar](50) NULL,
	[Gross cnts] [varchar](50) NULL,
	[Max Cap] [varchar](50) NULL,
	[OCT] [varchar](50) NULL,
	[Max  Leng ] [varchar](50) NULL,
	[Max  Width] [varchar](50) NULL,
	[Max Height] [varchar](50) NULL,
	[UoM] [varchar](50) NULL,
	[QPer ] [varchar](50) NULL,
	[Time Unit] [varchar](50) NULL,
	[OverhDepth] [varchar](50) NULL,
	[OverhWidth] [varchar](50) NULL,
	[Max StackH] [varchar](50) NULL,
	[Min StackH] [varchar](50) NULL,
	[Stack Tol ] [varchar](50) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
