USE [SA_SAP_BE]
GO
/****** Object:  Table [Import].[QALS]    Script Date: 23-Aug-22 5:02:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[QALS]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[QALS](
	[Material] [varchar](50) NULL,
	[Insp  Lot] [varchar](256) NULL,
	[Plnt] [varchar](256) NULL,
	[InspType] [varchar](256) NULL,
	[LO] [varchar](256) NULL,
	[Object number] [varchar](256) NULL,
	[Typ] [varchar](256) NULL,
	[StatProf] [varchar](256) NULL,
	[QMatAu] [varchar](256) NULL,
	[GRB] [varchar](256) NULL,
	[LC] [varchar](256) NULL,
	[Time] [varchar](256) NULL,
	[Created by] [varchar](256) NULL,
	[Changed by] [varchar](256) NULL,
	[Time (2)] [varchar](256) NULL,
	[Time (3)] [varchar](256) NULL,
	[Time (4)] [varchar](256) NULL,
	[RevLev] [varchar](256) NULL,
	[Order] [varchar](256) NULL,
	[Material (2)] [varchar](256) NULL,
	[Batch] [varchar](256) NULL,
	[MatYr] [varchar](256) NULL,
	[Mat  Doc ] [varchar](256) NULL,
	[Material (3)] [varchar](256) NULL,
	[Batch (2)] [varchar](256) NULL,
	[CrDate] [varchar](256) NULL,
	[StartDate] [varchar](256) NULL,
	[BUn] [varchar](256) NULL,
	[Sample] [varchar](256) NULL,
	[Reserves] [varchar](256) NULL,
	[Other qty ] [varchar](256) NULL,
	[UOM] [varchar](256) NULL,
	[UOM (2)] [varchar](256) NULL,
	[Plant] [varchar](256) NULL,
	[Cl ] [varchar](256) NULL,
	[InspStck] [varchar](256) NULL,
	[P] [varchar](256) NULL,
	[R] [varchar](256) NULL,
	[InOr] [varchar](256) NULL,
	[P (2)] [varchar](256) NULL,
	[Auto UD] [varchar](256) NULL,
	[SourceInsp] [varchar](256) NULL,
	[Config ] [varchar](256) NULL,
	[Short-term] [varchar](256) NULL,
	[LtCtl] [varchar](256) NULL,
	[D] [varchar](256) NULL,
	[PR] [varchar](256) NULL,
	[MS] [varchar](256) NULL,
	[Mat  spec ] [varchar](256) NULL,
	[Ap] [varchar](256) NULL,
	[DS] [varchar](256) NULL,
	[DS (2)] [varchar](256) NULL,
	[DS (3)] [varchar](256) NULL,
	[AR] [varchar](256) NULL,
	[R2L] [varchar](256) NULL,
	[MC] [varchar](256) NULL,
	[MS (2)] [varchar](256) NULL,
	[SP] [varchar](256) NULL,
	[UD] [varchar](256) NULL,
	[Ma] [varchar](256) NULL,
	[Vd] [varchar](256) NULL,
	[Ma (2)] [varchar](256) NULL,
	[Cu] [varchar](256) NULL,
	[Mn] [varchar](256) NULL,
	[Pr (2)] [varchar](256) NULL,
	[Skip] [varchar](256) NULL,
	[Skip (2)] [varchar](256) NULL,
	[100%] [varchar](256) NULL,
	[SerN] [varchar](256) NULL,
	[Dyn] [varchar](256) NULL,
	[DLvl] [varchar](256) NULL,
	[Prc] [varchar](256) NULL,
	[EN] [varchar](256) NULL,
	[UpdGrp] [varchar](256) NULL,
	[Origin of Inspection Lot Unit of Measure] [varchar](256) NULL,
	[QINFStat] [varchar](256) NULL,
	[Time (5)] [varchar](256) NULL,
	[Type] [varchar](256) NULL,
	[Group] [varchar](256) NULL,
	[Usage] [varchar](256) NULL,
	[GrC] [varchar](256) NULL,
	[Counter] [varchar](256) NULL,
	[CritCt] [varchar](256) NULL,
	[Production Resource Tool Saved for Insp ] [varchar](256) NULL,
	[FCo] [varchar](256) NULL,
	[Type (2)] [varchar](256) NULL,
	[PA] [varchar](256) NULL,
	[Counter (2)] [varchar](256) NULL,
	[SDP] [varchar](256) NULL,
	[Version] [varchar](256) NULL,
	[Conf ] [varchar](256) NULL,
	[Plant (2)] [varchar](256) NULL,
	[Vendor] [varchar](256) NULL,
	[MPN] [varchar](256) NULL,
	[Mfr] [varchar](256) NULL,
	[Customer] [varchar](256) NULL,
	[Usage (2)] [varchar](256) NULL,
	[Plan no ] [varchar](256) NULL,
	[Object no ] [varchar](256) NULL,
	[IntObjNo ] [varchar](256) NULL,
	[Ver ] [varchar](256) NULL,
	[RS header] [varchar](256) NULL,
	[Customer (2)] [varchar](256) NULL,
	[Vendor (2)] [varchar](256) NULL,
	[Mfr (2)] [varchar](256) NULL,
	[MPN Mat ] [varchar](256) NULL,
	[RevLev (2)] [varchar](256) NULL,
	[BMR] [varchar](256) NULL,
	[SLoc] [varchar](256) NULL,
	[Vend Batch] [varchar](256) NULL,
	[S] [varchar](256) NULL,
	[WBS Elem ] [varchar](256) NULL,
	[Sales Ord ] [varchar](256) NULL,
	[SO item] [varchar](256) NULL,
	[POrg] [varchar](256) NULL,
	[Purch Doc ] [varchar](256) NULL,
	[Item] [varchar](256) NULL,
	[Schd ] [varchar](256) NULL,
	[Type (3)] [varchar](256) NULL,
	[Item (2)] [varchar](256) NULL,
	[MvT] [varchar](256) NULL,
	[SLoc (2)] [varchar](256) NULL,
	[WhN] [varchar](256) NULL,
	[Typ (2)] [varchar](256) NULL,
	[StorageBin] [varchar](256) NULL,
	[Sales Ord (2)] [varchar](256) NULL,
	[SO Item (2)] [varchar](256) NULL,
	[Delivery] [varchar](256) NULL,
	[Item (3)] [varchar](256) NULL,
	[DelivCat] [varchar](256) NULL,
	[Route] [varchar](256) NULL,
	[DstC] [varchar](256) NULL,
	[Sold-to pt] [varchar](256) NULL,
	[SOrg ] [varchar](256) NULL,
	[Cust mat ] [varchar](256) NULL,
	[Language] [varchar](256) NULL,
	[Short text] [varchar](256) NULL,
	[LT] [varchar](256) NULL,
	[Short text for inspection object] [varchar](256) NULL,
	[In  WM] [varchar](256) NULL,
	[DynR] [varchar](256) NULL,
	[DynTime] [varchar](256) NULL,
	[Stage] [varchar](256) NULL,
	[InspSev] [varchar](256) NULL,
	[Batch (3)] [varchar](256) NULL,
	[LT (2)] [varchar](256) NULL,
	[QSc] [varchar](256) NULL,
	[UD mode] [varchar](256) NULL,
	[QM Order] [varchar](256) NULL,
	[Cns] [varchar](256) NULL,
	[A] [varchar](256) NULL,
	[I] [varchar](256) NULL,
	[AccAss key] [varchar](256) NULL,
	[Cost Ctr] [varchar](256) NULL,
	[Itm] [varchar](256) NULL,
	[Asset] [varchar](256) NULL,
	[SNo ] [varchar](256) NULL,
	[WBS Elem (2)] [varchar](256) NULL,
	[Network] [varchar](256) NULL,
	[Counter (3)] [varchar](256) NULL,
	[Sales Ord (3)] [varchar](256) NULL,
	[SO Item (3)] [varchar](256) NULL,
	[RE Key] [varchar](256) NULL,
	[CostObject] [varchar](256) NULL,
	[Prof  Seg ] [varchar](256) NULL,
	[Profit Ctr] [varchar](256) NULL,
	[BusA] [varchar](256) NULL,
	[G L Acct] [varchar](256) NULL,
	[COAr] [varchar](256) NULL,
	[CoCd] [varchar](256) NULL,
	[Profl ] [varchar](256) NULL,
	[Ref  lot] [varchar](256) NULL,
	[Empty] [varchar](256) NULL,
	[Stab ] [varchar](256) NULL,
	[Mult Specs] [varchar](256) NULL,
	[Dummy] [varchar](256) NULL,
	[Dummy (2)] [varchar](256) NULL,
	[Dummy (3)] [varchar](256) NULL,
	[Dummy (4)] [varchar](256) NULL,
	[Dummy (5)] [varchar](256) NULL,
	[Dummy (6)] [varchar](256) NULL,
	[Dummy (7)] [varchar](256) NULL,
	[Dummy (8)] [varchar](256) NULL,
	[Dummy (9)] [varchar](256) NULL,
	[Dummy (10)] [varchar](256) NULL,
	[Dummy (11)] [varchar](256) NULL,
	[Dummy (12)] [varchar](256) NULL,
	[Dummy (13)] [varchar](256) NULL,
	[Dummy (14)] [varchar](256) NULL,
	[Dummy (15)] [varchar](256) NULL,
	[Dummy (16)] [varchar](256) NULL,
	[MntPlan] [varchar](256) NULL,
	[MntItem] [varchar](256) NULL,
	[Strat ] [varchar](256) NULL,
	[Trial No ] [varchar](256) NULL,
	[Responsib ] [varchar](256) NULL,
	[Insp  Doc ] [varchar](256) NULL,
	[LogSystem] [varchar](256) NULL,
	[Sig TypeRR] [varchar](256) NULL,
	[Sig TypeUD] [varchar](256) NULL,
	[SigTypePSD] [varchar](256) NULL,
	[SigStratRR] [varchar](256) NULL,
	[SigStratUD] [varchar](256) NULL,
	[SigStr PSD] [varchar](256) NULL,
	[Pstng Date] [varchar](256) NULL,
	[NoSNo ] [varchar](256) NULL,
	[On] [varchar](256) NULL,
	[on (2)] [varchar](256) NULL,
	[End Date] [varchar](256) NULL,
	[Key date] [varchar](256) NULL,
	[Valid] [varchar](256) NULL,
	[SLED BBD] [varchar](256) NULL,
	[ChRec] [varchar](256) NULL,
	[STChar] [varchar](256) NULL,
	[LTChar] [varchar](256) NULL,
	[Lot Qty] [varchar](256) NULL,
	[Contnr] [varchar](256) NULL,
	[LotCt] [varchar](256) NULL,
	[Insp samp ] [varchar](256) NULL,
	[SampleSize] [varchar](256) NULL,
	[UnrestrStk] [varchar](256) NULL,
	[Scrap] [varchar](256) NULL,
	[Blocked] [varchar](256) NULL,
	[New matl] [varchar](256) NULL,
	[Return] [varchar](256) NULL,
	[OtherQty 2] [varchar](256) NULL,
	[Postings] [varchar](256) NULL,
	[LgTerm qty] [varchar](256) NULL,
	[Insp  qty] [varchar](256) NULL,
	[Destr  qty] [varchar](256) NULL,
	[ActLotQty] [varchar](256) NULL,
	[Defective] [varchar](256) NULL,
	[Share of scrap] [varchar](256) NULL,
	[Allowed scrap %] [varchar](256) NULL,
	[Ref  Date] [varchar](256) NULL,
	[Call No ] [varchar](256) NULL,
	[SampleSize (2)] [varchar](256) NULL,
	[Priority] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
