USE [master]
GO
/****** Object:  Database [SA_SAP_BE]    Script Date: 16-Jun-22 9:20:34 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SA_SAP_BE')
BEGIN
CREATE DATABASE [SA_SAP_BE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SA_SAP_BE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_SAP_BE.mdf' , SIZE = 1581056KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SA_SAP_BE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_SAP_BE_log.ldf' , SIZE = 860160KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SA_SAP_BE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
