USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[LFB1]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[LFB1]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[LFB1](
	[LIFNR] [varchar](256) NULL,
	[BUKRS] [varchar](256) NULL,
	[PERNR] [varchar](256) NULL,
	[ERDAT] [varchar](256) NULL,
	[ERNAM] [varchar](256) NULL,
	[SPERR] [varchar](256) NULL,
	[LOEVM] [varchar](256) NULL,
	[ZUAWA] [varchar](256) NULL,
	[AKONT] [varchar](256) NULL,
	[BEGRU] [varchar](256) NULL,
	[VZSKZ] [varchar](256) NULL,
	[ZWELS] [varchar](256) NULL,
	[XVERR] [varchar](256) NULL,
	[ZAHLS] [varchar](256) NULL,
	[ZTERM] [varchar](256) NULL,
	[EIKTO] [varchar](256) NULL,
	[ZSABE] [varchar](256) NULL,
	[KVERM] [varchar](256) NULL,
	[FDGRV] [varchar](256) NULL,
	[BUSAB] [varchar](256) NULL,
	[LNRZE] [varchar](256) NULL,
	[LNRZB] [varchar](256) NULL,
	[ZINDT] [varchar](256) NULL,
	[ZINRT] [varchar](256) NULL,
	[DATLZ] [varchar](256) NULL,
	[XDEZV] [varchar](256) NULL,
	[WEBTR] [varchar](256) NULL,
	[KULTG] [varchar](256) NULL,
	[REPRF] [varchar](256) NULL,
	[TOGRU] [varchar](256) NULL,
	[HBKID] [varchar](256) NULL,
	[XPORE] [varchar](256) NULL,
	[QSZNR] [varchar](256) NULL,
	[QSZDT] [varchar](256) NULL,
	[QSSKZ] [varchar](256) NULL,
	[BLNKZ] [varchar](256) NULL,
	[MINDK] [varchar](256) NULL,
	[ALTKN] [varchar](256) NULL,
	[ZGRUP] [varchar](256) NULL,
	[MGRUP] [varchar](256) NULL,
	[UZAWE] [varchar](256) NULL,
	[QSREC] [varchar](256) NULL,
	[QSBGR] [varchar](256) NULL,
	[QLAND] [varchar](256) NULL,
	[XEDIP] [varchar](256) NULL,
	[FRGRP] [varchar](256) NULL,
	[TOGRR] [varchar](256) NULL,
	[TLFXS] [varchar](256) NULL,
	[INTAD] [varchar](256) NULL,
	[XLFZB] [varchar](256) NULL,
	[GUZTE] [varchar](256) NULL,
	[GRICD] [varchar](256) NULL,
	[GRIDT] [varchar](256) NULL,
	[XAUSZ] [varchar](256) NULL,
	[CERDT] [varchar](256) NULL,
	[CONFS] [varchar](256) NULL,
	[UPDAT] [varchar](256) NULL,
	[UPTIM] [varchar](256) NULL,
	[NODEL] [varchar](256) NULL,
	[TLFNS] [varchar](256) NULL,
	[AVSND] [varchar](256) NULL,
	[AD_HASH] [varchar](256) NULL,
	[CVP_XBLCK_B] [varchar](256) NULL,
	[CIIUCODE] [varchar](256) NULL,
	[J_SC_SUBCONTYPE] [varchar](256) NULL,
	[J_SC_COMPDATE] [varchar](256) NULL,
	[J_SC_OFFSM] [varchar](256) NULL,
	[J_SC_OFFSR] [varchar](256) NULL,
	[BASIS_PNT] [varchar](256) NULL,
	[GMVKZK] [varchar](256) NULL,
	[PREPAY_RELEVANT] [varchar](256) NULL,
	[ASSIGN_TEST] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
