USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[QAMV]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[QAMV]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[QAMV](
	[Long text] [varchar](256) NULL,
	[Language Key] [varchar](256) NULL,
	[Inspection Lot] [varchar](256) NULL,
	[Current node no ] [varchar](256) NULL,
	[Insp  Characteristic] [varchar](256) NULL,
	[Created by] [varchar](256) NULL,
	[Created on] [varchar](256) NULL,
	[Changed by] [varchar](256) NULL,
	[Changed on] [varchar](256) NULL,
	[Partial sample] [varchar](256) NULL,
	[Version] [varchar](256) NULL,
	[Version (2)] [varchar](256) NULL,
	[Version (3)] [varchar](256) NULL,
	[Version (4)] [varchar](256) NULL,
	[Catalog type] [varchar](256) NULL,
	[Catalog type (2)] [varchar](256) NULL,
	[Version (6)] [varchar](256) NULL,
	[Catalog type (3)] [varchar](256) NULL,
	[Catalog type (4)] [varchar](256) NULL,
	[Catalog type (5)] [varchar](256) NULL,
	[Not initial] [varchar](256) NULL,
	[Not initial (2)] [varchar](256) NULL,
	[Not initial (3)] [varchar](256) NULL,
	[Not initial (4)] [varchar](256) NULL,
	[Not initial (5)] [varchar](256) NULL,
	[Not initial (6)] [varchar](256) NULL,
	[Not initial (7)] [varchar](256) NULL,
	[Not initial (8)] [varchar](256) NULL,
	[Not initial (9)] [varchar](256) NULL,
	[Specification status] [varchar](256) NULL,
	[Control ind  Characteristic] [varchar](256) NULL,
	[Partial Samples] [varchar](256) NULL,
	[IntCalc  results] [varchar](256) NULL,
	[Unplanned char ] [varchar](256) NULL,
	[Use chars ] [varchar](256) NULL,
	[SmpNo UCh] [varchar](256) NULL,
	[Plant] [varchar](256) NULL,
	[Inspection method] [varchar](256) NULL,
	[Internal char no ] [varchar](256) NULL,
	[Deviating codes] [varchar](256) NULL,
	[Reference type] [varchar](256) NULL,
	[Plant (2)] [varchar](256) NULL,
	[Master insp charac ] [varchar](256) NULL,
	[Weighting of charac ] [varchar](256) NULL,
	[Short text for the characteristic] [varchar](256) NULL,
	[SampDraw text exists] [varchar](256) NULL,
	[Language Key (2)] [varchar](256) NULL,
	[Inspector qualif ] [varchar](256) NULL,
	[Formula] [varchar](256) NULL,
	[Formula (2)] [varchar](256) NULL,
	[InfoField 1] [varchar](256) NULL,
	[InfoField 2] [varchar](256) NULL,
	[InfoField 3] [varchar](256) NULL,
	[Low  lim  DefCodeGrp] [varchar](256) NULL,
	[At lower spec  limit] [varchar](256) NULL,
	[UpLim defect group] [varchar](256) NULL,
	[At upper spec  limit] [varchar](256) NULL,
	[Selected set] [varchar](256) NULL,
	[Code group sel  set] [varchar](256) NULL,
	[Plant (3)] [varchar](256) NULL,
	[Version (5)] [varchar](256) NULL,
	[Version key date (2)] [varchar](256) NULL,
	[Selected set (2)] [varchar](256) NULL,
	[Code group sel  set (2)] [varchar](256) NULL,
	[Plant (4)] [varchar](256) NULL,
	[Version key date (3)] [varchar](256) NULL,
	[Selected set (3)] [varchar](256) NULL,
	[Code group sel  set (3)] [varchar](256) NULL,
	[Plant (5)] [varchar](256) NULL,
	[Version (7)] [varchar](256) NULL,
	[Version key date (4)] [varchar](256) NULL,
	[Selected set (4)] [varchar](256) NULL,
	[Code group sel  set (4)] [varchar](256) NULL,
	[Plant (6)] [varchar](256) NULL,
	[Version (8)] [varchar](256) NULL,
	[Version key date (5)] [varchar](256) NULL,
	[Selected set (5)] [varchar](256) NULL,
	[Code group sel  set (5)] [varchar](256) NULL,
	[Plant (7)] [varchar](256) NULL,
	[Version (9)] [varchar](256) NULL,
	[Version key date] [varchar](256) NULL,
	[Decimal places] [varchar](256) NULL,
	[Unit of measurement] [varchar](256) NULL,
	[Target value] [varchar](256) NULL,
	[Upper specif  limit] [varchar](256) NULL,
	[Lower tol limit] [varchar](256) NULL,
	[Tolerance change] [varchar](256) NULL,
	[1st upper limit] [varchar](256) NULL,
	[1st lower limit] [varchar](256) NULL,
	[2nd upper limit] [varchar](256) NULL,
	[2nd lower limit] [varchar](256) NULL,
	[UpPlausibility limit] [varchar](256) NULL,
	[LoPlausibility limit] [varchar](256) NULL,
	[Number of classes] [varchar](256) NULL,
	[Class width] [varchar](256) NULL,
	[Not initial (10)] [varchar](256) NULL,
	[Class midpoint] [varchar](256) NULL,
	[Not initial (11)] [varchar](256) NULL,
	[Sample-drawing proc ] [varchar](256) NULL,
	[Version (10)] [varchar](256) NULL,
	[Item] [varchar](256) NULL,
	[Lot container] [varchar](256) NULL,
	[To partSample number] [varchar](256) NULL,
	[Sampling procedure] [varchar](256) NULL,
	[Matl conv  factor] [varchar](256) NULL,
	[Smpl conv  factor] [varchar](256) NULL,
	[Fraction calculation] [varchar](256) NULL,
	[Valuation rule] [varchar](256) NULL,
	[Base sample quantity] [varchar](256) NULL,
	[Sample unit of meas ] [varchar](256) NULL,
	[Inspect] [varchar](256) NULL,
	[Insp  quantity] [varchar](256) NULL,
	[Sample unit of meas (2)] [varchar](256) NULL,
	[100% inspection] [varchar](256) NULL,
	[Partial Samples (2)] [varchar](256) NULL,
	[Share estimate] [varchar](256) NULL,
	[Confirmation number] [varchar](256) NULL,
	[Characteristic type] [varchar](256) NULL,
	[Counter] [varchar](256) NULL,
	[Modification rule] [varchar](256) NULL,
	[Time of dyn  modif ] [varchar](256) NULL,
	[DynCrit  string] [varchar](256) NULL,
	[DynMod  as for char ] [varchar](256) NULL,
	[DynModRule available] [varchar](256) NULL,
	[Counter (2)] [varchar](256) NULL,
	[Calculate Formula] [varchar](256) NULL,
	[Test equipment] [varchar](256) NULL,
	[Defect code group for general rejection] [varchar](256) NULL,
	[Defect code  gen] [varchar](256) NULL,
	[With insp  points] [varchar](256) NULL,
	[Inspection frequency] [varchar](256) NULL,
	[No  Insp Pt Insp ] [varchar](256) NULL,
	[SPC criterion] [varchar](256) NULL,
	[Internal charac  description] [varchar](256) NULL,
	[Origin results data] [varchar](256) NULL,
	[Input Processing] [varchar](256) NULL,
	[Insp Char  Origin] [varchar](256) NULL,
	[Reference] [varchar](256) NULL,
	[Lower Limit Type (default  >)] [varchar](256) NULL,
	[Upper Limit Type (default < )] [varchar](256) NULL,
	[Lower PlausibilityLimit Type(default  >)] [varchar](256) NULL,
	[Upper PlausibilityLimit Type(default < )] [varchar](256) NULL,
	[Lower 1st Limit Type (default  >)] [varchar](256) NULL,
	[Upper 1st Limit Type (default < )] [varchar](256) NULL,
	[Lower 2nd Limit Type (default  >)] [varchar](256) NULL,
	[Upper 2nd Limit Type (default < )] [varchar](256) NULL,
	[Detection lower limit type] [varchar](256) NULL,
	[Detection lower limit] [varchar](256) NULL,
	[Detection higher limit type] [varchar](256) NULL,
	[Detection higher limit] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
