USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[LFA1]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[LFA1]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[LFA1](
	[LIFNR] [varchar](256) NULL,
	[ERDAT] [varchar](256) NULL,
	[ERNAM] [varchar](256) NULL,
	[SPERR] [varchar](256) NULL,
	[LOEVM] [varchar](256) NULL,
	[BEGRU] [varchar](256) NULL,
	[CONFS] [varchar](256) NULL,
	[UPDAT] [varchar](256) NULL,
	[UPTIM] [varchar](256) NULL,
	[NODEL] [varchar](256) NULL,
	[LAND1] [varchar](256) NULL,
	[NAME1] [varchar](256) NULL,
	[NAME2] [varchar](256) NULL,
	[NAME3] [varchar](256) NULL,
	[NAME4] [varchar](256) NULL,
	[ORT01] [varchar](256) NULL,
	[ORT02] [varchar](256) NULL,
	[PFACH] [varchar](256) NULL,
	[PSTL2] [varchar](256) NULL,
	[PSTLZ] [varchar](256) NULL,
	[REGIO] [varchar](256) NULL,
	[SORTL] [varchar](256) NULL,
	[STRAS] [varchar](256) NULL,
	[ADRNR] [varchar](256) NULL,
	[MCOD1] [varchar](256) NULL,
	[MCOD2] [varchar](256) NULL,
	[MCOD3] [varchar](256) NULL,
	[ANRED] [varchar](256) NULL,
	[BAHNS] [varchar](256) NULL,
	[BBBNR] [varchar](256) NULL,
	[BBSNR] [varchar](256) NULL,
	[BRSCH] [varchar](256) NULL,
	[BUBKZ] [varchar](256) NULL,
	[DATLT] [varchar](256) NULL,
	[DTAMS] [varchar](256) NULL,
	[DTAWS] [varchar](256) NULL,
	[ESRNR] [varchar](256) NULL,
	[KONZS] [varchar](256) NULL,
	[KTOKK] [varchar](256) NULL,
	[KUNNR] [varchar](256) NULL,
	[LNRZA] [varchar](256) NULL,
	[SPERM] [varchar](256) NULL,
	[SPRAS] [varchar](256) NULL,
	[STCD1] [varchar](256) NULL,
	[STCD2] [varchar](256) NULL,
	[STKZA] [varchar](256) NULL,
	[STKZU] [varchar](256) NULL,
	[TELBX] [varchar](256) NULL,
	[TELF1] [varchar](256) NULL,
	[TELF2] [varchar](256) NULL,
	[TELFX] [varchar](256) NULL,
	[TELTX] [varchar](256) NULL,
	[TELX1] [varchar](256) NULL,
	[XCPDK] [varchar](256) NULL,
	[XZEMP] [varchar](256) NULL,
	[VBUND] [varchar](256) NULL,
	[FISKN] [varchar](256) NULL,
	[STCEG] [varchar](256) NULL,
	[STKZN] [varchar](256) NULL,
	[SPERQ] [varchar](256) NULL,
	[GBORT] [varchar](256) NULL,
	[GBDAT] [varchar](256) NULL,
	[SEXKZ] [varchar](256) NULL,
	[KRAUS] [varchar](256) NULL,
	[REVDB] [varchar](256) NULL,
	[QSSYS] [varchar](256) NULL,
	[KTOCK] [varchar](256) NULL,
	[PFORT] [varchar](256) NULL,
	[WERKS] [varchar](256) NULL,
	[LTSNA] [varchar](256) NULL,
	[WERKR] [varchar](256) NULL,
	[PLKAL] [varchar](256) NULL,
	[DUEFL] [varchar](256) NULL,
	[TXJCD] [varchar](256) NULL,
	[SPERZ] [varchar](256) NULL,
	[SCACD] [varchar](256) NULL,
	[SFRGR] [varchar](256) NULL,
	[LZONE] [varchar](256) NULL,
	[XLFZA] [varchar](256) NULL,
	[DLGRP] [varchar](256) NULL,
	[FITYP] [varchar](256) NULL,
	[STCDT] [varchar](256) NULL,
	[REGSS] [varchar](256) NULL,
	[ACTSS] [varchar](256) NULL,
	[STCD3] [varchar](256) NULL,
	[STCD4] [varchar](256) NULL,
	[STCD5] [varchar](256) NULL,
	[IPISP] [varchar](256) NULL,
	[TAXBS] [varchar](256) NULL,
	[PROFS] [varchar](256) NULL,
	[STGDL] [varchar](256) NULL,
	[EMNFR] [varchar](256) NULL,
	[LFURL] [varchar](256) NULL,
	[J_1KFREPRE] [varchar](256) NULL,
	[J_1KFTBUS] [varchar](256) NULL,
	[J_1KFTIND] [varchar](256) NULL,
	[QSSYSDAT] [varchar](256) NULL,
	[PODKZB] [varchar](256) NULL,
	[FISKU] [varchar](256) NULL,
	[STENR] [varchar](256) NULL,
	[CARRIER_CONF] [varchar](256) NULL,
	[MIN_COMP] [varchar](256) NULL,
	[TERM_LI] [varchar](256) NULL,
	[CRC_NUM] [varchar](256) NULL,
	[CVP_XBLCK] [varchar](256) NULL,
	[RG] [varchar](256) NULL,
	[EXP] [varchar](256) NULL,
	[UF] [varchar](256) NULL,
	[RGDATE] [varchar](256) NULL,
	[RIC] [varchar](256) NULL,
	[RNE] [varchar](256) NULL,
	[RNEDATE] [varchar](256) NULL,
	[CNAE] [varchar](256) NULL,
	[LEGALNAT] [varchar](256) NULL,
	[CRTN] [varchar](256) NULL,
	[ICMSTAXPAY] [varchar](256) NULL,
	[INDTYP] [varchar](256) NULL,
	[TDT] [varchar](256) NULL,
	[COMSIZE] [varchar](256) NULL,
	[DECREGPC] [varchar](256) NULL,
	[J_SC_CAPITAL] [varchar](256) NULL,
	[J_SC_CURRENCY] [varchar](256) NULL,
	[ALC] [varchar](256) NULL,
	[PMT_OFFICE] [varchar](256) NULL,
	[PSOFG] [varchar](256) NULL,
	[PSOIS] [varchar](256) NULL,
	[PSON1] [varchar](256) NULL,
	[PSON2] [varchar](256) NULL,
	[PSON3] [varchar](256) NULL,
	[PSOVN] [varchar](256) NULL,
	[PSOTL] [varchar](256) NULL,
	[PSOHS] [varchar](256) NULL,
	[PSOST] [varchar](256) NULL,
	[TRANSPORT_CHAIN] [varchar](256) NULL,
	[STAGING_TIME] [varchar](256) NULL,
	[SCHEDULING_TYPE] [varchar](256) NULL,
	[SUBMI_RELEVANT] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
