USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[VBRK]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[VBRK]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[VBRK](
	[ERDAT] [varchar](256) NULL,
	[ERNAM] [varchar](256) NULL,
	[BUKRS] [varchar](256) NULL,
	[VBELN] [varchar](256) NULL,
	[FKART] [varchar](256) NULL,
	[FKTYP] [varchar](256) NULL,
	[VBTYP] [varchar](256) NULL,
	[WAERK] [varchar](256) NULL,
	[VKORG] [varchar](256) NULL,
	[VTWEG] [varchar](256) NULL,
	[KALSM] [varchar](256) NULL,
	[KNUMV] [varchar](256) NULL,
	[VSBED] [varchar](256) NULL,
	[FKDAT] [varchar](256) NULL,
	[BELNR] [varchar](256) NULL,
	[GJAHR] [varchar](256) NULL,
	[POPER] [varchar](256) NULL,
	[KONDA] [varchar](256) NULL,
	[KDGRP] [varchar](256) NULL,
	[BZIRK] [varchar](256) NULL,
	[PLTYP] [varchar](256) NULL,
	[INCO1] [varchar](256) NULL,
	[INCO2] [varchar](256) NULL,
	[EXPKZ] [varchar](256) NULL,
	[RFBSK] [varchar](256) NULL,
	[MRNKZ] [varchar](256) NULL,
	[KURRF] [varchar](256) NULL,
	[CPKUR] [varchar](256) NULL,
	[VALTG] [varchar](256) NULL,
	[VALDT] [varchar](256) NULL,
	[ZTERM] [varchar](256) NULL,
	[ZLSCH] [varchar](256) NULL,
	[KTGRD] [varchar](256) NULL,
	[LAND1] [varchar](256) NULL,
	[REGIO] [varchar](256) NULL,
	[COUNC] [varchar](256) NULL,
	[CITYC] [varchar](256) NULL,
	[TAXK1] [varchar](256) NULL,
	[TAXK2] [varchar](256) NULL,
	[TAXK3] [varchar](256) NULL,
	[TAXK4] [varchar](256) NULL,
	[TAXK5] [varchar](256) NULL,
	[TAXK6] [varchar](256) NULL,
	[TAXK7] [varchar](256) NULL,
	[TAXK8] [varchar](256) NULL,
	[TAXK9] [varchar](256) NULL,
	[NETWR] [varchar](256) NULL,
	[ZUKRI] [varchar](256) NULL,
	[ERZET] [varchar](256) NULL,
	[STAFO] [varchar](256) NULL,
	[KUNRG] [varchar](256) NULL,
	[KUNAG] [varchar](256) NULL,
	[MABER] [varchar](256) NULL,
	[STWAE] [varchar](256) NULL,
	[EXNUM] [varchar](256) NULL,
	[STCEG] [varchar](256) NULL,
	[AEDAT] [varchar](256) NULL,
	[SFAKN] [varchar](256) NULL,
	[KNUMA] [varchar](256) NULL,
	[FKART_RL] [varchar](256) NULL,
	[FKDAT_RL] [varchar](256) NULL,
	[KURST] [varchar](256) NULL,
	[MSCHL] [varchar](256) NULL,
	[MANSP] [varchar](256) NULL,
	[SPART] [varchar](256) NULL,
	[KKBER] [varchar](256) NULL,
	[KNKLI] [varchar](256) NULL,
	[CMWAE] [varchar](256) NULL,
	[CMKUF] [varchar](256) NULL,
	[HITYP_PR] [varchar](256) NULL,
	[BSTNK_VF] [varchar](256) NULL,
	[VBUND] [varchar](256) NULL,
	[FKART_AB] [varchar](256) NULL,
	[KAPPL] [varchar](256) NULL,
	[LANDTX] [varchar](256) NULL,
	[STCEG_H] [varchar](256) NULL,
	[STCEG_L] [varchar](256) NULL,
	[XBLNR] [varchar](256) NULL,
	[ZUONR] [varchar](256) NULL,
	[MWSBK] [varchar](256) NULL,
	[LOGSYS] [varchar](256) NULL,
	[FKSTO] [varchar](256) NULL,
	[XEGDR] [varchar](256) NULL,
	[RPLNR] [varchar](256) NULL,
	[LCNUM] [varchar](256) NULL,
	[J_1AFITP] [varchar](256) NULL,
	[KURRF_DAT] [varchar](256) NULL,
	[AKWAE] [varchar](256) NULL,
	[AKKUR] [varchar](256) NULL,
	[KIDNO] [varchar](256) NULL,
	[BVTYP] [varchar](256) NULL,
	[NUMPG] [varchar](256) NULL,
	[BUPLA] [varchar](256) NULL,
	[VKONT] [varchar](256) NULL,
	[FKK_DOCSTAT] [varchar](256) NULL,
	[NRZAS] [varchar](256) NULL,
	[SPE_BILLING_IND] [varchar](256) NULL,
	[VTREF] [varchar](256) NULL,
	[FK_SOURCE_SYS] [varchar](256) NULL,
	[FKTYP_CRM] [varchar](256) NULL,
	[STGRD] [varchar](256) NULL,
	[VBTYP_EXT] [varchar](256) NULL,
	[J_1TPBUPL] [varchar](256) NULL,
	[INCOV] [varchar](256) NULL,
	[INCO2_L] [varchar](256) NULL,
	[INCO3_L] [varchar](256) NULL,
	[DPC_REL] [varchar](256) NULL,
	[MNDID] [varchar](256) NULL,
	[PAY_TYPE] [varchar](256) NULL,
	[SEPON] [varchar](256) NULL,
	[MNDVG] [varchar](256) NULL,
	[SPPAYM] [varchar](256) NULL,
	[SPPORD] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
