USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[KNVV]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[KNVV]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[KNVV](
	[KUNNR] [varchar](256) NULL,
	[VKORG] [varchar](256) NULL,
	[VTWEG] [varchar](256) NULL,
	[SPART] [varchar](256) NULL,
	[ERNAM] [varchar](256) NULL,
	[ERDAT] [varchar](256) NULL,
	[BEGRU] [varchar](256) NULL,
	[LOEVM] [varchar](256) NULL,
	[VERSG] [varchar](256) NULL,
	[AUFSD] [varchar](256) NULL,
	[KALKS] [varchar](256) NULL,
	[KDGRP] [varchar](256) NULL,
	[BZIRK] [varchar](256) NULL,
	[KONDA] [varchar](256) NULL,
	[PLTYP] [varchar](256) NULL,
	[AWAHR] [varchar](256) NULL,
	[INCO1] [varchar](256) NULL,
	[INCO2] [varchar](256) NULL,
	[LIFSD] [varchar](256) NULL,
	[AUTLF] [varchar](256) NULL,
	[ANTLF] [varchar](256) NULL,
	[KZTLF] [varchar](256) NULL,
	[KZAZU] [varchar](256) NULL,
	[CHSPL] [varchar](256) NULL,
	[LPRIO] [varchar](256) NULL,
	[EIKTO] [varchar](256) NULL,
	[VSBED] [varchar](256) NULL,
	[FAKSD] [varchar](256) NULL,
	[MRNKZ] [varchar](256) NULL,
	[PERFK] [varchar](256) NULL,
	[PERRL] [varchar](256) NULL,
	[KVAKZ] [varchar](256) NULL,
	[KVAWT] [varchar](256) NULL,
	[WAERS] [varchar](256) NULL,
	[KLABC] [varchar](256) NULL,
	[KTGRD] [varchar](256) NULL,
	[ZTERM] [varchar](256) NULL,
	[VWERK] [varchar](256) NULL,
	[VKGRP] [varchar](256) NULL,
	[VKBUR] [varchar](256) NULL,
	[VSORT] [varchar](256) NULL,
	[KVGR1] [varchar](256) NULL,
	[KVGR2] [varchar](256) NULL,
	[KVGR3] [varchar](256) NULL,
	[KVGR4] [varchar](256) NULL,
	[KVGR5] [varchar](256) NULL,
	[BOKRE] [varchar](256) NULL,
	[BOIDT] [varchar](256) NULL,
	[KURST] [varchar](256) NULL,
	[PRFRE] [varchar](256) NULL,
	[PRAT1] [varchar](256) NULL,
	[PRAT2] [varchar](256) NULL,
	[PRAT3] [varchar](256) NULL,
	[PRAT4] [varchar](256) NULL,
	[PRAT5] [varchar](256) NULL,
	[PRAT6] [varchar](256) NULL,
	[PRAT7] [varchar](256) NULL,
	[PRAT8] [varchar](256) NULL,
	[PRAT9] [varchar](256) NULL,
	[PRATA] [varchar](256) NULL,
	[KABSS] [varchar](256) NULL,
	[KKBER] [varchar](256) NULL,
	[CASSD] [varchar](256) NULL,
	[RDOFF] [varchar](256) NULL,
	[AGREL] [varchar](256) NULL,
	[MEGRU] [varchar](256) NULL,
	[UEBTO] [varchar](256) NULL,
	[UNTTO] [varchar](256) NULL,
	[UEBTK] [varchar](256) NULL,
	[PVKSM] [varchar](256) NULL,
	[PODKZ] [varchar](256) NULL,
	[PODTG] [varchar](256) NULL,
	[BLIND] [varchar](256) NULL,
	[CARRIER_NOTIF] [varchar](256) NULL,
	[CVP_XBLCK_V] [varchar](256) NULL,
	[INCOV] [varchar](256) NULL,
	[INCO2_L] [varchar](256) NULL,
	[INCO3_L] [varchar](256) NULL,
	[ BEV1 EMLGPFAND] [varchar](256) NULL,
	[ BEV1 EMLGFORTS] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
