USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[MARA]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[MARA]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[MARA](
	[Material] [varchar](255) NULL,
	[Created On] [varchar](255) NULL,
	[Created by] [varchar](255) NULL,
	[Last Change] [varchar](255) NULL,
	[Changed by] [varchar](255) NULL,
	[Compl  maint  status] [varchar](255) NULL,
	[Maintenance status] [varchar](255) NULL,
	[DF at client level] [varchar](255) NULL,
	[Material Type] [varchar](255) NULL,
	[Industry sector] [varchar](255) NULL,
	[Material Group] [varchar](255) NULL,
	[Old material number] [varchar](255) NULL,
	[Base Unit of Measure] [varchar](255) NULL,
	[Order Unit] [varchar](255) NULL,
	[Document] [varchar](255) NULL,
	[Document type] [varchar](255) NULL,
	[Doc  Version] [varchar](255) NULL,
	[Page format] [varchar](255) NULL,
	[Document change no ] [varchar](255) NULL,
	[Page number] [varchar](255) NULL,
	[Number of sheets] [varchar](255) NULL,
	[Prod  insp  memo] [varchar](255) NULL,
	[Page format (2)] [varchar](255) NULL,
	[Size dimensions] [varchar](255) NULL,
	[Basic material] [varchar](255) NULL,
	[Industry Std Desc ] [varchar](255) NULL,
	[Lab Office] [varchar](255) NULL,
	[Purchasing value key] [varchar](255) NULL,
	[Gross Weight] [varchar](255) NULL,
	[Net Weight] [varchar](255) NULL,
	[Weight unit] [varchar](255) NULL,
	[Volume] [varchar](255) NULL,
	[Volume unit] [varchar](255) NULL,
	[Container reqmts] [varchar](255) NULL,
	[Storage conditions] [varchar](255) NULL,
	[Temp  conditions] [varchar](255) NULL,
	[Low-Level Code] [varchar](255) NULL,
	[Transportation Group] [varchar](255) NULL,
	[Haz  material number] [varchar](255) NULL,
	[Division] [varchar](255) NULL,
	[Competitor] [varchar](255) NULL,
	[EAN number] [varchar](255) NULL,
	[Number of GR slips] [varchar](255) NULL,
	[Procurement rule] [varchar](255) NULL,
	[Source of supply] [varchar](255) NULL,
	[Season] [varchar](255) NULL,
	[Label type] [varchar](255) NULL,
	[Label form] [varchar](255) NULL,
	[Field deactivated] [varchar](255) NULL,
	[EAN UPC] [varchar](255) NULL,
	[EAN Category] [varchar](255) NULL,
	[Length] [varchar](255) NULL,
	[Width] [varchar](255) NULL,
	[Height] [varchar](255) NULL,
	[Unit of Dimension] [varchar](255) NULL,
	[Product hierarchy] [varchar](255) NULL,
	[Stock Transfer Net Change Costing] [varchar](255) NULL,
	[CAD Indicator] [varchar](255) NULL,
	[QM proc  active] [varchar](255) NULL,
	[Allowed pkg weight] [varchar](255) NULL,
	[Unit of weight] [varchar](255) NULL,
	[Allowed pkg volume] [varchar](255) NULL,
	[Volume unit (2)] [varchar](255) NULL,
	[Excess wt tolerance] [varchar](255) NULL,
	[Excess volume tol ] [varchar](255) NULL,
	[Variable Purchase Order Unit] [varchar](255) NULL,
	[Revision Level Assgd] [varchar](255) NULL,
	[Material is configurable] [varchar](255) NULL,
	[Batch management] [varchar](255) NULL,
	[Packaging mat  type] [varchar](255) NULL,
	[Maximum level] [varchar](255) NULL,
	[Stackability factor] [varchar](255) NULL,
	[Matl Grp Pack Matls] [varchar](255) NULL,
	[Authorization Group] [varchar](255) NULL,
	[Valid From] [varchar](255) NULL,
	[Valid to] [varchar](255) NULL,
	[Season Year] [varchar](255) NULL,
	[Price Band Category] [varchar](255) NULL,
	[With empties BOM] [varchar](255) NULL,
	[Ext  Material Group] [varchar](255) NULL,
	[Cross-plant CM] [varchar](255) NULL,
	[Material Category] [varchar](255) NULL,
	[Co-product] [varchar](255) NULL,
	[Follow-up material] [varchar](255) NULL,
	[Pricing Ref  Matl] [varchar](255) NULL,
	[X-plant matl status] [varchar](255) NULL,
	[X-distr chain status] [varchar](255) NULL,
	[Valid from (2)] [varchar](255) NULL,
	[Valid from (3)] [varchar](255) NULL,
	[Tax classification] [varchar](255) NULL,
	[Catalog profile] [varchar](255) NULL,
	[Min  Rem  Shelf Life] [varchar](255) NULL,
	[Total shelf life] [varchar](255) NULL,
	[Storage percentage] [varchar](255) NULL,
	[Content unit] [varchar](255) NULL,
	[Net contents] [varchar](255) NULL,
	[ComparisonPriceUnit] [varchar](255) NULL,
	[Labeling matl grpg] [varchar](255) NULL,
	[Gross contents] [varchar](255) NULL,
	[Conversion Method] [varchar](255) NULL,
	[Internal object no ] [varchar](255) NULL,
	[Environmentally rlvt] [varchar](255) NULL,
	[Product allocation] [varchar](255) NULL,
	[Pricing profile] [varchar](255) NULL,
	[Qual f FreeGoodsDis ] [varchar](255) NULL,
	[Manufacturer Part No ] [varchar](255) NULL,
	[Manufacturer] [varchar](255) NULL,
	[Int  material number] [varchar](255) NULL,
	[Mfr Part Profile] [varchar](255) NULL,
	[Units of meas  usage] [varchar](255) NULL,
	[Rollout] [varchar](255) NULL,
	[DG indicator profile] [varchar](255) NULL,
	[Highly viscous] [varchar](255) NULL,
	[In bulk liquid] [varchar](255) NULL,
	[Serialization level] [varchar](255) NULL,
	[Closed] [varchar](255) NULL,
	[Appr batch rec  req ] [varchar](255) NULL,
	[Assign effect  vals] [varchar](255) NULL,
	[Material completion level] [varchar](255) NULL,
	[Period Ind  for SLED] [varchar](255) NULL,
	[Rounding rule SLED] [varchar](255) NULL,
	[Product Composition] [varchar](255) NULL,
	[Gen  item cat  grp] [varchar](255) NULL,
	[Logistical variants] [varchar](255) NULL,
	[Material is locked] [varchar](255) NULL,
	[Indicator for relevance in CM] [varchar](255) NULL,
	[Assortment List Type] [varchar](255) NULL,
	[Expiration Date] [varchar](255) NULL,
	[EAN Variant] [varchar](255) NULL,
	[Generic Material] [varchar](255) NULL,
	[Reference matl for packing] [varchar](255) NULL,
	[GDS-Relevant] [varchar](255) NULL,
	[Origin Acceptance] [varchar](255) NULL,
	[Standard HU Type] [varchar](255) NULL,
	[Pilferable] [varchar](255) NULL,
	[WH Storage Condition] [varchar](255) NULL,
	[WH Material Group] [varchar](255) NULL,
	[Handling Indicator] [varchar](255) NULL,
	[Rel  for HS] [varchar](255) NULL,
	[Handling Unit Type] [varchar](255) NULL,
	[Varb  Tare Weight] [varchar](255) NULL,
	[Maximum Capacity] [varchar](255) NULL,
	[Overcapacity Toler ] [varchar](255) NULL,
	[Max  Pack  Length] [varchar](255) NULL,
	[Max  Pack  Width] [varchar](255) NULL,
	[Max  Pack  Height] [varchar](255) NULL,
	[Unit of Measurement] [varchar](255) NULL,
	[Country of origin] [varchar](255) NULL,
	[Material freight grp] [varchar](255) NULL,
	[Quarant  Per ] [varchar](255) NULL,
	[Quarantine Time Unit] [varchar](255) NULL,
	[Quality Inspection Group] [varchar](255) NULL,
	[Serial No  Profile] [varchar](255) NULL,
	[Form Name] [varchar](255) NULL,
	[Logistics Unit of Measure] [varchar](255) NULL,
	[Material Is a CW Material] [varchar](255) NULL,
	[CW Profile for CW Quantity] [varchar](255) NULL,
	[Catch Weight Tolerance Group] [varchar](255) NULL,
	[Adjustment Profile (Merchandise Distr )] [varchar](255) NULL,
	[Intellectual Property] [varchar](255) NULL,
	[Variant Price Allowed] [varchar](255) NULL,
	[Medium] [varchar](255) NULL,
	[Physical Commodity] [varchar](255) NULL,
	[Cont  Non-Textile Parts of Animal Origin] [varchar](255) NULL,
	[Textile Composition Maintenance Active] [varchar](255) NULL,
	[Segmentation Structure] [varchar](255) NULL,
	[Segmentation Strategy] [varchar](255) NULL,
	[Segmentation Status] [varchar](255) NULL,
	[Segmentation Strategy Scope] [varchar](255) NULL,
	[Segmentation Relevant] [varchar](255) NULL,
	[ANP Code] [varchar](255) NULL,
	[Fashion Attribute 1] [varchar](255) NULL,
	[Fashion Attribute 2] [varchar](255) NULL,
	[Fashion Attribute 3] [varchar](255) NULL,
	[Season Usage] [varchar](255) NULL,
	[Season Active in Inventory Management] [varchar](255) NULL,
	[Material Conv  ID] [varchar](255) NULL,
	[Protected Species Management Code] [varchar](255) NULL,
	[Loading Units] [varchar](255) NULL,
	[Loading Unit Group] [varchar](255) NULL,
	[Structure Category] [varchar](255) NULL,
	[Tolerance Type ID] [varchar](255) NULL,
	[Counting Group] [varchar](255) NULL,
	[DSD Grouping] [varchar](255) NULL,
	[Tilting Allowed] [varchar](255) NULL,
	[No Stacking] [varchar](255) NULL,
	[Only Bottom Layer] [varchar](255) NULL,
	[Only Top Layer] [varchar](255) NULL,
	[Stacking Factor] [varchar](255) NULL,
	[Load without PKM] [varchar](255) NULL,
	[PKM Overhang Depth] [varchar](255) NULL,
	[PKM Overhang Width] [varchar](255) NULL,
	[Max  Stacking Height] [varchar](255) NULL,
	[Min  Stacking Height] [varchar](255) NULL,
	[Max StackH Tolerance] [varchar](255) NULL,
	[No  Mat   Closed PKM] [varchar](255) NULL,
	[VSO Unit of Measure] [varchar](255) NULL,
	[Closed PKM Required] [varchar](255) NULL,
	[Packaging Code] [varchar](255) NULL,
	[DG Packaging Status] [varchar](255) NULL,
	[Material Condition Mgmt] [varchar](255) NULL,
	[Return Code] [varchar](255) NULL,
	[Return to Logistics Level] [varchar](255) NULL,
	[NATO Item ID Number] [varchar](255) NULL,
	[Form-Fit-Function class] [varchar](255) NULL,
	[Supersession chain number] [varchar](255) NULL,
	[Creation Status] [varchar](255) NULL,
	[Int  Char  Number] [varchar](255) NULL,
	[Int  Char  Number (2)] [varchar](255) NULL,
	[Int  Char  Number (3)] [varchar](255) NULL,
	[Color] [varchar](255) NULL,
	[Main Size] [varchar](255) NULL,
	[Second Size] [varchar](255) NULL,
	[Free Charact  Value] [varchar](255) NULL,
	[Care Code] [varchar](255) NULL,
	[Brand] [varchar](255) NULL,
	[Component 1] [varchar](255) NULL,
	[Percentage Share 1] [varchar](255) NULL,
	[Component 2] [varchar](255) NULL,
	[Percentage Share 2] [varchar](255) NULL,
	[Component 3] [varchar](255) NULL,
	[Percentage Share 3] [varchar](255) NULL,
	[Component 4] [varchar](255) NULL,
	[Percentage Share 4] [varchar](255) NULL,
	[Component 5] [varchar](255) NULL,
	[Percentage Share 5] [varchar](255) NULL,
	[Fashion Grade] [varchar](255) NULL,
	[Serialization Type] [varchar](255) NULL,
	[Synchronization Active] [varchar](255) NULL,
	[Last Synchronization Time] [varchar](255) NULL,
	[Indicator Changed Since Integration] [varchar](255) NULL,
	[Profile Relevant Country] [varchar](255) NULL,
	[Product Category] [varchar](255) NULL,
	[Z-INDEX] [varchar](255) NULL,
	[Material Description] [varchar](255) NULL,
	[Material description (2)] [varchar](255) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
