USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[QASR]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[QASR]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[QASR](
	[Long text] [varchar](256) NULL,
	[Language Key] [varchar](256) NULL,
	[Inspection Lot] [varchar](256) NULL,
	[Current node no ] [varchar](256) NULL,
	[Insp  Characteristic] [varchar](256) NULL,
	[Created by] [varchar](256) NULL,
	[Created on] [varchar](256) NULL,
	[Changed by] [varchar](256) NULL,
	[Changed on] [varchar](256) NULL,
	[Partial sample] [varchar](256) NULL,
	[Version] [varchar](256) NULL,
	[Version (2)] [varchar](256) NULL,
	[Version (3)] [varchar](256) NULL,
	[Version (4)] [varchar](256) NULL,
	[Catalog type] [varchar](256) NULL,
	[Version (5)] [varchar](256) NULL,
	[Catalog type (2)] [varchar](256) NULL,
	[Catalog type (3)] [varchar](256) NULL,
	[Catalog type (4)] [varchar](256) NULL,
	[Catalog type (5)] [varchar](256) NULL,
	[Not initial (2)] [varchar](256) NULL,
	[Not initial (3)] [varchar](256) NULL,
	[Not initial (4)] [varchar](256) NULL,
	[Not initial (5)] [varchar](256) NULL,
	[Not initial (6)] [varchar](256) NULL,
	[Not initial (7)] [varchar](256) NULL,
	[Not initial (8)] [varchar](256) NULL,
	[Not initial (9)] [varchar](256) NULL,
	[Not initial (10)] [varchar](256) NULL,
	[Status] [varchar](50) NULL,
	[Attribute] [varchar](50) NULL,
	[Origin Results Data] [varchar](50) NULL,
	[Valuation] [varchar](50) NULL,
	[Dyn  mod  valuation] [varchar](50) NULL,
	[Inspector] [varchar](50) NULL,
	[Start date] [varchar](50) NULL,
	[End of Inspection] [varchar](50) NULL,
	[Insp  start time] [varchar](50) NULL,
	[Insp  end time] [varchar](50) NULL,
	[Short text] [varchar](50) NULL,
	[Recorded] [varchar](50) NULL,
	[Nonconforming] [varchar](50) NULL,
	[Not initialized] [varchar](50) NULL,
	[Nonconf  fraction] [varchar](50) NULL,
	[Number of defects] [varchar](50) NULL,
	[Number above] [varchar](50) NULL,
	[Number below] [varchar](50) NULL,
	[Inspected] [varchar](50) NULL,
	[Maximum valid value] [varchar](50) NULL,
	[Median of measValues] [varchar](50) NULL,
	[Min valid value] [varchar](50) NULL,
	[Mean value] [varchar](50) NULL,
	[Variance] [varchar](50) NULL,
	[3rd central moment] [varchar](50) NULL,
	[4th central moment] [varchar](50) NULL,
	[Fraction above] [varchar](50) NULL,
	[Fraction below] [varchar](50) NULL,
	[Code group] [varchar](50) NULL,
	[Code] [varchar](50) NULL,
	[Code group (2)] [varchar](50) NULL,
	[Code (2)] [varchar](50) NULL,
	[Code group (3)] [varchar](50) NULL,
	[Code (3)] [varchar](50) NULL,
	[Code group (4)] [varchar](50) NULL,
	[Code (4)] [varchar](50) NULL,
	[Code group (5)] [varchar](50) NULL,
	[Code (5)] [varchar](50) NULL,
	[Defect class] [varchar](50) NULL,
	[Send flag] [varchar](50) NULL,
	[Additional Info ] [varchar](50) NULL,
	[Test Position] [varchar](50) NULL,
	[RR change docs] [varchar](50) NULL,
	[Valuation Copied or Forced] [varchar](50) NULL,
	[Time] [varchar](50) NULL,
	[Time (2)] [varchar](50) NULL,
	[Original Value] [varchar](50) NULL,
	[Different Number of Decimal Places] [varchar](50) NULL,
	[Input Processing Completed] [varchar](50) NULL,
	[Signature ID] [varchar](50) NULL,
	[Status of Signature Process] [varchar](50) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
