USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[TCURX]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[TCURX]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[TCURX](
	[CURRKEY] [varchar](50) NULL,
	[CURRDEC] [varchar](50) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
