USE [SA_SAP_NL]
GO
/****** Object:  Table [Import].[GLPCA]    Script Date: 23-Aug-22 5:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[Import].[GLPCA]') AND type in (N'U'))
BEGIN
CREATE TABLE [Import].[GLPCA](
	[GL_SIRID] [varchar](256) NULL,
	[RLDNR] [varchar](256) NULL,
	[RRCTY] [varchar](256) NULL,
	[RVERS] [varchar](256) NULL,
	[RYEAR] [varchar](256) NULL,
	[RTCUR] [varchar](256) NULL,
	[RUNIT] [varchar](256) NULL,
	[DRCRK] [varchar](256) NULL,
	[POPER] [varchar](256) NULL,
	[DOCCT] [varchar](256) NULL,
	[DOCNR] [varchar](256) NULL,
	[DOCLN] [varchar](256) NULL,
	[RBUKRS] [varchar](256) NULL,
	[RPRCTR] [varchar](256) NULL,
	[RHOART] [varchar](256) NULL,
	[RFAREA] [varchar](256) NULL,
	[KOKRS] [varchar](256) NULL,
	[RACCT] [varchar](256) NULL,
	[HRKFT] [varchar](256) NULL,
	[RASSC] [varchar](256) NULL,
	[EPRCTR] [varchar](256) NULL,
	[ACTIV] [varchar](256) NULL,
	[AFABE] [varchar](256) NULL,
	[OCLNT] [varchar](256) NULL,
	[SBUKRS] [varchar](256) NULL,
	[SPRCTR] [varchar](256) NULL,
	[SHOART] [varchar](256) NULL,
	[SFAREA] [varchar](256) NULL,
	[TSL] [varchar](256) NULL,
	[HSL] [varchar](256) NULL,
	[KSL] [varchar](256) NULL,
	[MSL] [varchar](256) NULL,
	[CPUDT] [varchar](256) NULL,
	[CPUTM] [varchar](256) NULL,
	[USNAM] [varchar](256) NULL,
	[SGTXT] [varchar](256) NULL,
	[AUTOM] [varchar](256) NULL,
	[DOCTY] [varchar](256) NULL,
	[BLDAT] [varchar](256) NULL,
	[BUDAT] [varchar](256) NULL,
	[WSDAT] [varchar](256) NULL,
	[REFDOCNR] [varchar](256) NULL,
	[REFRYEAR] [varchar](256) NULL,
	[REFDOCLN] [varchar](256) NULL,
	[REFDOCCT] [varchar](256) NULL,
	[REFACTIV] [varchar](256) NULL,
	[AWTYP] [varchar](256) NULL,
	[AWORG] [varchar](256) NULL,
	[WERKS] [varchar](256) NULL,
	[GSBER] [varchar](256) NULL,
	[KOSTL] [varchar](256) NULL,
	[LSTAR] [varchar](256) NULL,
	[AUFNR] [varchar](256) NULL,
	[AUFPL] [varchar](256) NULL,
	[ANLN1] [varchar](256) NULL,
	[ANLN2] [varchar](256) NULL,
	[MATNR] [varchar](256) NULL,
	[BWKEY] [varchar](256) NULL,
	[BWTAR] [varchar](256) NULL,
	[ANBWA] [varchar](256) NULL,
	[KUNNR] [varchar](256) NULL,
	[LIFNR] [varchar](256) NULL,
	[RMVCT] [varchar](256) NULL,
	[EBELN] [varchar](256) NULL,
	[EBELP] [varchar](256) NULL,
	[KSTRG] [varchar](256) NULL,
	[ERKRS] [varchar](256) NULL,
	[PAOBJNR] [varchar](256) NULL,
	[PASUBNR] [varchar](256) NULL,
	[PS_PSP_PNR] [varchar](256) NULL,
	[KDAUF] [varchar](256) NULL,
	[KDPOS] [varchar](256) NULL,
	[FKART] [varchar](256) NULL,
	[VKORG] [varchar](256) NULL,
	[VTWEG] [varchar](256) NULL,
	[AUBEL] [varchar](256) NULL,
	[AUPOS] [varchar](256) NULL,
	[SPART] [varchar](256) NULL,
	[VBELN] [varchar](256) NULL,
	[POSNR] [varchar](256) NULL,
	[VKGRP] [varchar](256) NULL,
	[VKBUR] [varchar](256) NULL,
	[VBUND] [varchar](256) NULL,
	[LOGSYS] [varchar](256) NULL,
	[ALEBN] [varchar](256) NULL,
	[AWSYS] [varchar](256) NULL,
	[VERSA] [varchar](256) NULL,
	[STFLG] [varchar](256) NULL,
	[STOKZ] [varchar](256) NULL,
	[STAGR] [varchar](256) NULL,
	[GRTYP] [varchar](256) NULL,
	[REP_MATNR] [varchar](256) NULL,
	[CO_PRZNR] [varchar](256) NULL,
	[IMKEY] [varchar](256) NULL,
	[DABRZ] [varchar](256) NULL,
	[VALUT] [varchar](256) NULL,
	[RSCOPE] [varchar](256) NULL,
	[AWREF_REV] [varchar](256) NULL,
	[AWORG_REV] [varchar](256) NULL,
	[BWART] [varchar](256) NULL,
	[BLART] [varchar](256) NULL,
	[RecordSource] [varchar](255) NULL,
	[InsertedDateTime] [datetime] NULL
) ON [PRIMARY]
END
GO
