USE [master]
GO
/****** Object:  Database [SA_SAP_NL]    Script Date: 16-Jun-22 9:21:49 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SA_SAP_NL')
BEGIN
CREATE DATABASE [SA_SAP_NL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SA_SAP_NL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_SAP_NL.mdf' , SIZE = 1646592KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SA_SAP_NL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_SAP_NL_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SA_SAP_NL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
