USE [master]
GO
/****** Object:  Database [SA_ReferenceData]    Script Date: 16-Jun-22 9:19:46 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'SA_ReferenceData')
BEGIN
CREATE DATABASE [SA_ReferenceData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SA_ReferenceData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_ReferenceData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SA_ReferenceData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SA_ReferenceData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
END
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SA_ReferenceData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
