USE [SA_ReferenceData]
GO
/****** Object:  Table [StaticData].[Kpi]    Script Date: 16-Jun-22 9:38:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[StaticData].[Kpi]') AND type in (N'U'))
BEGIN
CREATE TABLE [StaticData].[Kpi](
	[KPIID] [bigint] IDENTITY(1,1) NOT NULL,
	[KPI code] [varchar](50) NOT NULL,
	[KPI description (short)] [varchar](50) NULL,
	[KPI description (long)] [varchar](256) NULL,
	[KPI domain] [varchar](50) NULL,
	[KPI group] [varchar](50) NULL,
	[KPI sub group] [varchar](50) NULL,
	[KPI definition] [varchar](1024) NULL,
	[KPI unit of measure] [varchar](50) NULL,
	[KPI format] [varchar](50) NULL,
	[KPI sort order] [int] NULL,
	[KPI is visible] [bit] NOT NULL,
	[DWH_RecordSourrce] [varchar](512) NULL,
	[DWH_InsertedDateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Kpi] PRIMARY KEY CLUSTERED 
(
	[KPIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [StaticData].[Kpi] ON 

INSERT [StaticData].[Kpi] ([KPIID], [KPI code], [KPI description (short)], [KPI description (long)], [KPI domain], [KPI group], [KPI sub group], [KPI definition], [KPI unit of measure], [KPI format], [KPI sort order], [KPI is visible], [DWH_RecordSourrce], [DWH_InsertedDateTime]) VALUES (1, N'C1', N'Commercial market expansion', N'Commercial market expansion', N'Finance', N'Commercial', NULL, NULL, N' #New market', N'integer', 1, 1, N'Manual entry by MAS4', CAST(N'2022-03-25T13:37:47.6972103' AS DateTime2))
INSERT [StaticData].[Kpi] ([KPIID], [KPI code], [KPI description (short)], [KPI description (long)], [KPI domain], [KPI group], [KPI sub group], [KPI definition], [KPI unit of measure], [KPI format], [KPI sort order], [KPI is visible], [DWH_RecordSourrce], [DWH_InsertedDateTime]) VALUES (2, N'C10', N'Exp Nanogam avg SP g', N'Exp Nanogam avg SP g', N'Finance', N'Commercial', NULL, NULL, N'Euro', N'decimal(12,2)', 10, 1, N'Manual entry by MAS4', CAST(N'2022-03-25T13:37:47.9507867' AS DateTime2))
INSERT [StaticData].[Kpi] ([KPIID], [KPI code], [KPI description (short)], [KPI description (long)], [KPI domain], [KPI group], [KPI sub group], [KPI definition], [KPI unit of measure], [KPI format], [KPI sort order], [KPI is visible], [DWH_RecordSourrce], [DWH_InsertedDateTime]) VALUES (3, N'C2', N'DP Revenue per kg Plasma', N'DP Revenue per kg Plasma', N'Finance', N'Commercial', NULL, NULL, N'Euro', N'decimal(12,2)', 2, 1, N'Manual entry by MAS4', CAST(N'2022-03-25T13:37:47.7305686' AS DateTime2))
SET IDENTITY_INSERT [StaticData].[Kpi] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[StaticData].[DF_Kpi_KPI is visible]') AND type = 'D')
BEGIN
ALTER TABLE [StaticData].[Kpi] ADD  CONSTRAINT [DF_Kpi_KPI is visible]  DEFAULT ((1)) FOR [KPI is visible]
END
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[StaticData].[DF_Kpi_DWH_InsertedDateTime]') AND type = 'D')
BEGIN
ALTER TABLE [StaticData].[Kpi] ADD  CONSTRAINT [DF_Kpi_DWH_InsertedDateTime]  DEFAULT (sysdatetime()) FOR [DWH_InsertedDateTime]
END
GO
