USE [SA_ReferenceData]
GO
/****** Object:  Table [StaticData].[MaterialProduct]    Script Date: 16-Jun-22 4:49:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[StaticData].[MaterialProduct]') AND type in (N'U'))
BEGIN
CREATE TABLE [StaticData].[MaterialProduct](
	[MaterialProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[Material number] [varchar](50) NULL,
	[Product] [varchar](100) NULL,
	[IndRelevantForNanogam] [bit] NULL,
	[IndRelevantForCofact] [bit] NULL,
	[IndRelevantForAlbuman] [bit] NULL,
	[Level] [tinyint] NULL,
	[API Quantity] [decimal](6, 3) NULL,
	[Source plasma] [varchar](20) NULL,
	[DWH_RecordSource] [varchar](255) NULL,
	[DWH_InsertedDateTime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_MaterialProduct] PRIMARY KEY CLUSTERED 
(
	[MaterialProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [StaticData].[MaterialProduct] ON 

INSERT [StaticData].[MaterialProduct] ([MaterialProductID], [Material number], [Product], [IndRelevantForNanogam], [IndRelevantForCofact], [IndRelevantForAlbuman], [Level], [API Quantity], [Source plasma], [DWH_RecordSource], [DWH_InsertedDateTime]) VALUES (2, N'CIO-0951Y', N'DDCPP', 1, 1, 0, 2, NULL, NULL, N'Manual input on basis of Yield trending Nanogam.xlsx from Leon van der Liet, Lvl changed from 0->2 by MS, 2022-06-07', CAST(N'2022-04-07T13:53:56.3503201' AS DateTime2))
INSERT [StaticData].[MaterialProduct] ([MaterialProductID], [Material number], [Product], [IndRelevantForNanogam], [IndRelevantForCofact], [IndRelevantForAlbuman], [Level], [API Quantity], [Source plasma], [DWH_RecordSource], [DWH_InsertedDateTime]) VALUES (3, N'CLF-0201C', N'Paste II', 1, 0, 0, 4, NULL, N'NL', N'Manual input on basis of Yield trending Nanogam.xlsx from Leon van der Liet', CAST(N'2022-04-07T13:53:56.3725452' AS DateTime2))
INSERT [StaticData].[MaterialProduct] ([MaterialProductID], [Material number], [Product], [IndRelevantForNanogam], [IndRelevantForCofact], [IndRelevantForAlbuman], [Level], [API Quantity], [Source plasma], [DWH_RecordSource], [DWH_InsertedDateTime]) VALUES (4, N'CLF-0201H', N'Paste II', 1, 0, 0, 4, NULL, N'US', N'Manual input on basis of Yield trending Nanogam.xlsx from Leon van der Liet', CAST(N'2022-04-07T13:53:56.4037771' AS DateTime2))
GO
SET IDENTITY_INSERT [StaticData].[MaterialProduct] OFF
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[StaticData].[DF__MaterialP__DWH_I__36B12243]') AND type = 'D')
BEGIN
ALTER TABLE [StaticData].[MaterialProduct] ADD  CONSTRAINT [DF__MaterialP__DWH_I__36B12243]  DEFAULT (sysdatetime()) FOR [DWH_InsertedDateTime]
END
GO
